<%= link_to "Go Back", :back %>

<% if user_signed_in? %>
  <div data-controller="geolocation"
  data-geolocation-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
    <h2>
      Hi <%= current_user.name.capitalize %> <%= current_user.surname.capitalize %> <span data-geolocation-target="location"></span>
    </h2>
  </div>
  <div class="map-container">
    <div style="width: 100%; height: 600px;"
    data-controller="map-single"
    data-map-single-marker-value="<%= @marker.to_json %>"
    data-map-single-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%= link_to "Start Exploring", resources_path, class: "btn main-cta-color" %>
  </div>

  <div class="goc-container">
    <div class="box">
      <h4 class="headline">GOVERNMENT & OFFICIALS DIRECTIVES</h4>
      <div class="messages">
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
      </div>
    </div>
    <div class="countdown">
      <h3>Time left before <%= @disaster.disaster_type  %></h3>
      <div
        id="countdown"
        data-controller="flipdown"
        data-flipdown-target="countdown"
        data-flipdown-timer-value=<%= @disaster.created_at.to_i + 4*3600 - Time.now.to_i %>
      >
        <div class="time hour"></div>
        <div class="time minute"></div>
        <div class="time second"></div>
      </div>
    </div>
  </div>
  <% if current_user.admin || current_user.gov %>
    <%= link_to "SEND MESSAGE", "#", class: "btn main-cta-color" %>

  <% end %>

  <div class="events-prevention">
    <div class="events past-events">
      <h4>Past Events</h4>
      <div id="past-events">

        <% @past_disasters.each do |past_disaster| %>
          <div class="past-disaster">
            <%= past_disaster.disaster_type  %>
            <%= time_ago_in_words(( past_disaster.created_at + 4.hour))  %>
            <%= link_to "View", disaster_path(past_disaster), class: "btn" %>
          </div>
        <% end %>

      </div>
    </div>
    <div class="events prevention">
      <h4>Prevention Section</h4>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, soluta impedit quos dolorum voluptatibus laboriosam rerum obcaecati odio, blanditiis officiis aliquid, et deserunt. Voluptas, nihil dolorem velit voluptates commodi officiis.</p>
      </div>
      <%= link_to "Prevention resources", resources_path, class: "btn main-cta-color" %>
    </div>
  </div>

  <div class="goc-container">
    <div class="box">
      <h4 class="headline">ACTIVE NON-GOVERNMENTAL ORGANIZATIONS</h4>
      <div class="messages">
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
        <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit suscipit corporis magni unde. Aspernatur, eius. Aut ipsum exercitationem, fugiat tempore quasi, error accusamus quos necessitatibus eos illum dolore modi ullam quibusdam veritatis explicabo sequi tenetur sapiente, rerum molestiae odit repellat nulla id incidunt? Distinctio quidem aut ex repellat beatae.</div>
      </div>
    </div>
    <div class="geosafe">
      <h3>Geolocalisation Safety check</h3>
      <div
        class="values"
      >
        <div
        class="value"
        >
          <span>POPULATION:</span>
          <span>XXXXXXX</span>
        </div>
        <div
        class="value"
        >
          <span>MARKED AS SAFE:</span>
          <span>XXXXXXX</span>
        </div>
        <div
        class="value"
        >
          <span>IN DANGER:</span>
          <span>XXXXXXX</span>
        </div>
      </div>
      <button type="button" class="btn main-cta-color" data-bs-toggle="modal" data-bs-target="#exampleModal">
        CHECK YOURSELF AS SAFE
      </button>

    </div>
  </div>
  <% if current_user.admin || current_user.ngo %>
    <%= link_to "SEND MESSAGE", "#", class: "btn main-cta-color" %>
  <% end %>
  <div class="d-flex justify-content-center mt-3">
    <%= link_to "Prevention resources", resources_path, class: "btn main-cta-color" %>
  </div>
<% else %>
  <h2>User is no signed in</h2>
<% end %>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Safety Check</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for [@disaster, @review] do |f| %>
        <div class="modal-body">
          <div class='mt-4'>
              <%= f.input :full_name, label: 'Full name' %>
              <%= f.input :email, label: 'Email' %>
              <%= f.input :is_safe, label: 'I am safe' %>
              <%= f.input :comment, label: 'Message', as: :text %>
              <% if @show_checkbox_recaptcha %>
                <%= recaptcha_tags %>
              <% else %>
                <%= recaptcha_v3(action: 'login', site_key: ENV['RECAPTCHA_SITE_KEY_V3']) %>
              <% end %>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.button :submit, 'Send', class: 'btn main-cta-color-BonWup' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
