<% if user_signed_in? %>
  <h2>User is signed in</h2>
  <% if current_user.admin || current_user.ngo %>
    <h3>user is admin or ngo</h3>
  <% end %>

  <% if current_user.admin || current_user.gov %>
    <h3>user is admin or gov</h3>

  <% end %>

  <% if current_user.admin %>
    <h3>user is admin</h3>

  <% end %>

<% else %>
  <h2>User is no signed in</h2>
<% end %>

<p>Disaster detail</p>
<p>
  <%= @disaster.disaster_type  %>
</p>
<p>
  <%= @disaster.latitude %>
</p>
<p>
  <%= @disaster.longitude %>
</p>
<p>
  <%= @disaster.magnitude %>
</p>

<p>
  <%= @disaster.created_at.to_i + 4*3600 %>
</p>


<div
  id="countdown"
  data-controller="flipdown"
  data-flipdown-target="countdown"
  data-flipdown-timer-value=<%= @disaster.created_at.to_i + 4*3600 - Time.now.to_i %>
>
  <div class="time hour"></div>
  <div class="time minute"></div>
  <div class="time second"></div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map-single"
  data-map-single-marker-value="<%= @marker.to_json %>"
  data-map-single-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
