<footer>
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Links -->
    <section class="mt-5">
      <!-- Grid row-->
      <div class="footer-links row text-center d-flex justify-content-center pt-5">
        <!-- Grid column -->
        <div class="foot-link-item col-md-2 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">
            <%= link_to "About", about_path, class: "nav-link" %>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="foot-link-item col-md-2 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#">SafeHaven</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="foot-link-item col-md-2 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">
            <%= link_to "Resources", resources_path, class: "nav-link" %>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="foot-link-item col-md-2 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">
            <%= link_to "Register", root_path, class: "nav-link" %>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="foot-link-item col-md-2 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">
            <%= link_to "Contact", contact_path, class: "nav-link" %>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-5" />

    <!-- Section: Social -->
    <section class="text-center mb-5">
      <a href="" class="me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social -->

    <!-- Copyright -->
    <div class="foot-bot text-center d-flex justify-content-between p-3">
      <p>Copyright &copy; 2023</p>
      <%= link_to "Terms & Conditions", terms_path, class: "nav-link" %>
      <%= link_to "Privacy Policy", terms_path, class: "nav-link" %>
      <h6>Made with <i class="fas fa-heart fa-beat"></i> by the Crazy Chicken - Mauritius 🇲🇺</h6>
    </div>
    <!-- Copyright -->
  </div>
  <!-- Grid container -->
</footer>
