<main class="home about-main mt-4">
  <section class="hero">
    <div class="hero-left-content">
      <div class="content-left mb-2">
        <p>THE INDIAN OCEAN INSTITUTE</p>
        <h2>Discovering the Indian Ocean Institute: pioneers in disaster research</h2>
      </div>
    </div>
    <%= image_tag 'about-banner.png', class: "full-width-image banner" %>
  </section>
    <%# <%= image_tag "image.png", class: '' %>
  <section class="about">
    <div class="about-content">
      <h2>IOI vision and vision</h2>
      <h3>From data to action: transforming research into disaster preparedness.</h3>
      <p>At the Indian Ocean Institute, we gather different type and source of data around the world to feed our deep learning algorithm. Data sources can be seismometers, satellites, weather balloons, and a network of sensors scattered worldwide. When big data is transformed into actionable knowledge, it becomes a potent tool for building resilient communities and safeguarding lives.</br></br>Our dedicated researchers collect, analyze, and apply this data to create innovative solutions that empower governments, organizations, and individuals to prepare for and respond effectively to natural disasters. With a firm commitment to translating research into practical preparedness measures, we stand at the forefront of the battle against the unpredictable forces of nature, driving a safer and more resilient future for all.</p>
      <a href="https://airbluefox.notion.site/airbluefox/Documentation-API-IA-Disaster-f7e945c5225248ba8a1ab6f7a63f4744" class="btn main-cta-color" target="_blank">API PAPER</a>
    </div>
    <%= image_tag 'illustration1.png', class: "full-width-image illus" %>
  </section>
  <section class="insti">
    <%= image_tag 'illustration3.png', class: "full-width-image illus mobile-hide" %>
    <div class="insti-content">
      <h2>AI predictive natural disaster </h2>
      <h3>Safety in Every Byte: Safehaven AI - Your Disaster Preparedness</h3>
      <p>Safehaven AI is not merely a system; it's your vigilant guardian in the unpredictable realm of natural disasters. It processes every byte of data with a singular purpose: your protection. This advanced artificial intelligence harnesses the strength of data analytics and predictive modeling to offer you early warnings, insights, and actionable plans when disasters loom.</p>
      <p>Safehaven AI empowers individuals, governments, and organizations to proactively anticipate, respond to, and mitigate the impacts of a wide range of natural disasters. Whether it's a hurricane, earthquake, wildfire, or flooding, Safehaven AI uses the power of information to arm you with the knowledge to act swiftly and decisively. It's a safety net that transforms data into a lifeline, ensuring that when disaster strikes, you are not just prepared, but also well-informed and ready to protect what matters most. With Safehaven AI, every byte of data counts toward building a resilient and secure future.</p>
      <%= link_to "TRY SAFEHAVEN", disasters_path, class: "btn main-cta-color" %>
    </div>
  </section>
  <section class="about-contact">
    <h2>The Future of Disaster Forecasting</h2>
    <p>Join us in embracing the future of disaster forecasting, where innovative technology and expert knowledge work together to protect communities worldwide.</p>
    <%= link_to "STAY INFORMED", disasters_path, class: "btn main-cta-color" %>
  </section>
</main>
