<!DOCTYPE html>
<html>
  <head>
    <title>SafeHaven</title>
    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
  <%= render "shared/flashes" %>
  <div class="<%= (params[:controller] = "pages" && params[:action] == "home") ? "": "container" %>">
    <%= yield %>
  </div>
  <%= render "shared/footer" %>
  </body>
</html>
